body {
  background-color: rgb(2, 2, 44);
}
.title {
  color: #ff0;
  font-family: 'Akaya Kanadaka', cursive;
  text-align: center;
  font-size: 60px;
  margin-top: 15px;
}
.title a{
    color: #ff0;
    text-decoration: none;
}
.search-bar{
    text-align: center;
    position: relative;
}
#movieName{
    width: 40%;
    /* outline: rgb(2, 2, 44); */
    padding: 10px 24px;
    background-color: rgba(0, 0, 116, 0.614);
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 16px;
}
.search-icon{
    position: absolute;
    right: 29%;
    top: 28%;
}